body {
  /**
    So first off we've gotta make sure we're in a nice space, plenty of room
    to maneuver for the trick we're about to pull.
  */
  margin: 0 auto;
  max-width: 33em;
  padding: 20px;

  /**
    And this whole thing doesn't get pulled off without text, so we better
    make sure we've got some fine, nice-looking text to read.
  */
  color: #222;
  font-family: "Droid Serif", "Georgia", "Times New Roman", serif;
  font-size: 20px;
  line-height: 1.5;
}

/**
  But I mean, we don't want the text to take away from the main attraction!
  Let's put a couple of little rules next to the text, so you can tell what's
  gonna happen. In the business, we call this "telegraphing".
*/
p {
  border-left: 1px solid #e0e0ff;
}

/**
  Don't forget, we're pulling off several versions of this little show, so we
  need to keep 'em separated.
*/
p + p {
  margin-top: 28px;
}

/**
  At some point we might want to display some code samples. They should look nice!
*/
code {
  color: #666;
  font-size: 16px;

  padding: 2px 2px;

  background-color: #eee;
  border-radius: 2px;
}

/**
  Finally, here's the main attraction. It might look like crapnasty unsupported
  CSS to you now, but just wait and see if you don't change your mind.
*/

.hang-none { hanging-punctuation: none; }
.hang-first { hanging-punctuation: first; }
.hang-last { hanging-punctuation: last; }
